body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c39237;
    font-family: math;
}

h1 {
    font-size: 48px;
}

canvas{
    background-color: black;
}

.counter-of-bottles{
    margin-top: -390px;
    margin-left: -298px;
    font-size: 38px;
}

.counter-of-coins{
    margin-top: -74px;
    margin-left: -166px;
    font-size: 38px;
}

.endboss-statusbar-icon{
    width: 60px;
    margin-top: -466px;
    position: absolute;
    margin-left: 128px;
}

.lost-screen {
   height: 480px;
   width: 720px;
   margin-top: -480px;
   position: absolute;
   margin-left: -360px;
}

.d-none {
    display: none;
}

.game-instruction {
    gap: 24px;
    display: flex;
    align-items: center;
}

.game-instruction img {
    height: 40px;
    margin-left: -20px;
}

.space-bar {
    width: 110px;
}

.icon-fullscreen-area {
    gap: 10px;
    align-items: center;
    display: flex;
}

.icon-fullscreen {
    height: 30px;
}

.icon-fullscreen:hover {
    cursor: pointer;
    height: 35px;
}