@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/9_intro_outro_screens/start/desert.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.start-img {
  z-index: 100;
  position: absolute;
  top: 128px;
  width: 720px;
  aspect-ratio: 720/480;
}

h1 {
  font-size: 72px;
  margin-bottom: auto;
  text-shadow: 2px 2px #ff8700;
}

canvas {
  background-color: black;
}

.canvas-div {
  display: flex;
  justify-content: center;
  position: relative;
}

.button-exit-fullscreen {
  position: absolute;
  height: 20px;
  margin-right: -1200px;
  margin-top: 20px;
  z-index: 999;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  padding: 12px;
  background-color: #b59b45;
  display: flex;
  align-items: center;
  font-family: "zabars", Arial, Helvetica, sans-serif;
}

.button-exit-fullscreen:hover {
  cursor: pointer;
  background-color:#d69850
}

.counter-of-bottles {
  margin-top: -380px;
  margin-left: -298px;
  font-size: 38px;
  position: absolute;
}

.counter-of-coins {
  margin-top: -380px;
  margin-left: -166px;
  font-size: 38px;
 
  position: absolute;
}

.endboss-statusbar-icon {
  width: 60px;
  margin-top: -466px;
  position: absolute;
  margin-left: 128px;
}

.lost-screen {
  z-index: 100;
  position: absolute;
  top: 127px;
  width: 100%;
  aspect-ratio: 720/480;
  height: 480px;
  width: 720px;
}

.d-none {
  display: none;
}

.game-instruction {
  gap: 24px;
  display: flex;
  align-items: center;
  width: 720px;
  background-color: #b59b45;
  justify-content: center;
 
}

.counterArea {
  height: 0;
}

.game-instruction img {
  height: 40px;
  margin-left: -20px;
}

.space-bar {
  width: 110px;
}

.icon-fullscreen-area {
  gap: 10px;
  align-items: center;
  display: flex;
  background-color: #b59b45;
  justify-content: center;
  width: 720px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
}

.icon-fullscreen {
  height: 30px;
}

.icon-fullscreen:hover {
  cursor: pointer;
  height: 35px;
}

.start-game-button {
  position: relative;
  z-index: 200;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  color: black;
  background-color: #b59b45;
  right: -245px;
  top: -465px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.start-game-button:hover {
  cursor: pointer;
  background-color: #d8bb85;
}

.reload-page-button {
  position: relative;
  z-index: 200;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  color: black;
  background-color: #b59b45;
  right: -280px;
  top: -330px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.reload-page-button:hover {
  cursor: pointer;
  background-color: #d8bb85;
}

#btnLeft{
 width: 35px;
}

#btnRight{
  width: 35px;
}

#btnJump{
  width: 35px;
}

#btnThrow{
  width: 30px;
  background-color: rgba(155, 197, 247);
  border-radius: 20px;
  border: none;
  margin-left: -34px;
  margin-top: 3px;
  height: 30px;
}

.throw-bottle-button {
  height: 38px;
}

.button-left-right {
  position: absolute;
  left: 100px;
}

.button-jump-throw {
  position: absolute;
  display: flex;
  right: 100px;
}

.mute-music {
  top: 150px;
  z-index: 995;
  position: absolute;
}

.mute-music img {
  width: 40px;
  border-radius: 10px;
}

.mute-music:hover {
  cursor: pointer;
}

.game-over-screen {
  margin-top: -100px!important;
}

.turn-your-device {
  color: white;
  position: absolute;
  z-index: 1000;
  margin-top: 50px;
  font-size: 38px;
  align-items: center;
  flex-direction: column;
  gap: 40px;
 display: flex;
}

.img-turn-your-device {
  margin-top: 50px;
  height: 200px;
}

/* Responsive Smartphone */

@media (max-width: 430px) and (orientation: portrait) {
  body::before {
    background-color: black;
    z-index: 999;
    background-image: none;
  }
}


@media (max-width: 933px) and (orientation: landscape) {
  body {
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .button-left-right {
    margin-top: -15px;
    margin-left: -100px;
    left: 183px;
    display: flex;
  }

  .button-jump-throw {
    display: flex;
    margin-top: -20px;
  }

  #startImg {
    width: 100%;
    aspect-ratio: 720/480;
    top: 0;
  }

  h1 {
    display: none;
  }

  .game-instruction {
    display: none;
  }

  .icon-fullscreen-area {
    display: none;
  }

  #startGameButton {
    position: absolute;
    right: 0;
    top: 0;
  }

   #reloadPageButton {
    position: absolute;
    right: 46px;
    top: 121px;
  }

  .lost-screen {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 720/480;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
    width: 100vw;
  }

  #muteMusic {
    position: absolute;
    top: -120px;
  }

  .lost-screen {
    z-index: 100;
    top: 0;
    aspect-ratio: 720/480;
    width: 100%;
    height: 100%;
  }

  .canvas-div {
    top: -8px;
  }

  .start-img {
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  h1 {
    display: none;
  }

  .smartphone-button-area {
    display: flex;
    margin-top: -50px;
  }

  .game-instruction {
    display: none;
  }

  .icon-fullscreen-area {
    display: none;
  }

  #counterBottles {
    margin-top: -320px;
    margin-left: -350px;
  }

  #counterCoins {
    margin-top: -320px;
    margin-left: -190px;
  }

  .endboss-statusbar-icon {
    width: 53px;
    margin-top: -380px;
    margin-left: 161px;
  }

  #startGameButton {
    position: absolute;
    right: 120px;
    top: 20px;
  }
}
